*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #2d51f4;
    color: white;
    padding: 3rem;
    text-align: center;
}

header h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 2rem;
}

section.lesson-list {
    padding: 20px;
    /* max-width: 800px; */
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px 0;
}

button.toggle-btn {
    /* background-color: #4CAF50; */
    background-color: #2d51f4;
    color: white;
    text-shadow: 2px 2px 2px grey;
    padding: 10px;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button.toggle-btn:hover {
    color: #2d51f4;
    border: 1px solid #2d51f4;;
    background-color: white;
    text-shadow: none;
}

div.lesson-content {
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: none; 
}

.number{
    /* background-color: #2d51f4; */
    border-bottom: 3px solid #2d51f4;
    padding: 0.2rem;
    /* color: white; */
    font-size: 0.8rem;
    /* color:#2d51f4; */
    border-radius: 50%;
}

div.lesson-content h3, div.lesson-content p{
    margin-bottom: 0.5rem;
}

div.lesson-content p{
    text-align: justify;
    margin-bottom: 2rem;
}

div.lesson-content h4{
    font-size: 1.3rem;
}

.challenge-div{
    margin-top: 1.5rem;
}

.submit-div{
    /* background-color: antiquewhite; */
    text-align: center;
}

.list-indent{
    margin-left: 2rem;
}

video{
    width: 100%;
}

div.lesson-content .send{
    font-size: 1.1rem;
    padding: 1.2rem;
    border-radius: 2rem;
    background-color: white;
    border: none;
}

div.lesson-content .send:hover{
    background-color: #efefef;
    color: #2d51f4;
    cursor: pointer;
}

div.lesson-content .send a:hover{
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2d51f4;;
    color: white;
    position: absolute;
    width: 100%;
    /* bottom: 0; */
}

i{
    color: blue;
    opacity: 0.7;
}

/* Responsive styles for small screens (max-width: 600px) */
@media (max-width: 600px) {
    *{
        overflow-x: hidden;
    }
    
    header h1 {
        font-size: 2.5rem; /* Smaller font size */
    }

    header p {
        font-size: 14px; /* Adjusted font size for better readability */
    }

    /* ol{
        text-align: justify;
    } */
}
